Flask==0.10.1
Flask-Login==0.2.10
Flask-OAuthlib==0.4.3
Jinja2==2.7.2
MarkupSafe==0.21
SQLAlchemy==0.9.4
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.2
itsdangerous==0.24
oauthlib==0.6.1
requests==2.20.0
stripe==1.14.0
wsgiref==0.1.2
yolk==0.4.3
